<section class="article-content">
    {{- $content := .Content -}}
    {{- $filePath := .File.Path -}}
    {{- $dir := path.Dir $filePath -}}
    {{- $dir = replace $dir "\\" "/" -}}
    {{- $relDir := strings.TrimPrefix "content/" $dir -}}
    {{- $imagePrefix := printf "/%s/images/" $relDir -}}

    {{- $obsidianImgTag := printf `<img src="%s$1" alt="$1" loading="lazy" />` $imagePrefix -}}
    {{- $content = $content | replaceRE `!\[\[([^|\]]+)(?:\|[^\]]+)?\]\]` $obsidianImgTag -}}

    {{- $wrappedTable := printf "<div class=\"table-wrapper\">${1}</div>" -}}
    {{- $content = $content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable -}}

    {{- $content | safeHTML -}}
</section>