<a href="#" id="back-to-top" title="back to top"></a>
{{- $scriptOptions := dict "targetPath" "js/custom.js" -}}
{{- $customScripts := resources.Get "ts/custom.ts" | js.Build $scriptOptions | minify | fingerprint -}}

<script id="custom-scripts" 
        src="{{ $customScripts.RelPermalink }}" 
        integrity="{{ $customScripts.Data.Integrity }}"
        {{ with resources.Get "icons/caret-down.svg" }}
            data-more-icon-src="data:image/svg+xml;base64,{{ .Content | base64Encode }}"
        {{ end }}
        {{ with resources.Get "icons/caret-up.svg" }}
            data-less-icon-src="data:image/svg+xml;base64,{{ .Content | base64Encode }}"
        {{ end }}>
</script>