<div class="dynamic-quote-container">
    <blockquote id="dynamic-quote">
        <i>会长寻找灵感中...</i>
    </blockquote>
</div>

<script>
(function() {
    const quoteElement = document.getElementById("dynamic-quote");
    if (!quoteElement) return;
    // default quote
    const fallbackQuote = '今天的会长也很可爱';

    const apiConfigs = [
        {
            name: "TheQuotesHub",
            url: "https://thequoteshub.com/api/",
            parser: function (data) {
                return {
                    content: data.text,
                    source: data.author
                };
            }
        },
        {
            /**
             * HitoKoto
             * API 调性：二次元, 网络, 中二
             */
            name: "HitoKoto",
            url: "https://v1.hitokoto.cn/?c=a&c=b&c=c&c=d&c=e&c=f&c=g",
            parser: function (data) {
                return {
                    content: data.hitokoto,
                    source: data.from_who || data.from
                };
            }
        },
        {
            name: "Anime Quotes API",
            url: "https://yurippe.vercel.app/api/quotes?random=1",
            parser: function (data) {
                const quoteObject = data[0];
                return {
                    content: quoteObject.quote,
                    source: `${quoteObject.character} (${quoteObject.show})`
                }
            }
        }
    ];

    function fetchRandomQuote () {
        const RandomIdx = Math.floor(Math.random() * apiConfigs.length);
        // const RandomIdx = 2;
        const API = apiConfigs[RandomIdx];

        fetch(API.url) 
            .then(Response => {
                if (!Response.ok) {
                    throw new Error('NetWork response was not ok');
                }
                return Response.json();
            })
            .then(data => {
                console.log(data);
                const quoteData = API.parser(data);
                quoteElement.innerHTML = `<p>${quoteData.content}</p><cite>${quoteData.source}</cite>`;
            })
            .catch(error => {
                console.error(`API request to ${API.name} failed:`, error);
                quoteElement.innerText = fallbackQuote;
            });
    }

    fetchRandomQuote();
})();
</script>